[submodule "zsh/plugins/zsh-users/zsh-completions"]
	path = zsh/plugins/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-users/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugins/zsh-users/zsh-autosuggestions"]
	path = zsh/plugins/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "neomutt/colors"]
	path = neomutt/colors
	url = https://github.com/shuber2/mutt-gruvbox
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/zig-shell-completions"]
	path = zsh/plugins/zig-shell-completions
	url = https://github.com/ziglang/shell-completions
[submodule "zsh/plugins/zvm"]
	path = zsh/plugins/zvm
	url = https://github.com/weskoerber/zvm
[submodule "ghostty/shaders"]
	path = ghostty/shaders
	url = https://github.com/m-ahdal/ghostty-shaders
