.gdb_history

# antigen
antigen/bundles/
antigen/init.zsh
antigen/.resources
antigen/.zcompdump
antigen/*.zwc
antigen/*.log

# tmux
tmux/plugins/

# zsh
zsh/.zcompdump
zsh/*.zwc

# nvim
nvim/lazy-lock.json
