"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = """
$username$hostname\
$jobs\
$directory\
$git_branch\
$git_state\
$git_status\
$docker_context\
$rust\
$zig\
$fill$cmd_duration$time
$character\
"""

[directory]
truncate_to_repo = true
use_os_path_sep = false

[time]
disabled = false
format = '[$time]($style)'

[username]
show_always = false
format = '$fill[$user]($style)@'

[hostname]
ssh_only = true
format = '[$ssh_symbol$hostname]($style) '



[c]
detect_extensions = []
detect_files = [ 'Makefile', 'CMakeLists.txt' ]

[cpp]
detect_extensions = []
detect_files = [ 'Makefile', 'CMakeLists.txt' ]

[rust]
detect_extensions = []

[zig]
detect_extensions = []
detect_files = [ 'build.zig', 'build.zig.zon' ]
