* {
  border: none;
  border-radius: 0;
  font-family: BerkeleyMono Nerd Font;
  font-size: 16px;
  color: #e6d5c2;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0.25rem;
}

#waybar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
}

#workspaces button {
  padding: 0 0.5rem;
}

.modules-right > widget > * {
  padding: 0 0.5rem;
}

.hw-tray > .module {
  padding: 0 1.0rem;
}

#tray menu  {
  background-color: #171311;
}

menu {
  border: 2px solid #362f2c;
}

menu > menuitem {
  padding: 0.25rem;
}

menu > menuitem:not(:last-child) {
  border-bottom: 1px solid #362f2c;
}

menu > menuitem:hover {
  background-color: #201b19;
}

#battery.charging.full {
  color: #43b16a;
}

#battery.warning {
  color: #f4a21c;
}

#battery.critical {
  color: #d25780;
}

/* vim: shiftwidth=2 softtabstop=2 : */
