# vim: ft=neomuttrc

source unbind_all.rc

set abort_key = "<Esc>"

bind browser,index / search
bind browser,index n search-next
bind browser,index N search-opposite
bind browser,index \Cu half-up
bind browser,index \Cd half-down

bind browser,index,query k previous-entry
bind browser,index,query j next-entry
bind browser,index,query gg first-entry
bind browser,index,query G last-entry

### GLOBAL ###
bind alias,attach,browser,compose,index,pager,query q exit
bind alias,attach,browser,compose,index,pager,query \Co exit

### INDEX ###
bind index c mail
bind index r reply
bind index R group-reply
bind index F forward-message
bind index <return> display-message
bind index dd delete-message
bind index \Cr read-subthread
bind index \CR read-thread
bind index \Cp sidebar-toggle-visible
bind index \Cj sidebar-next
bind index \Ck sidebar-prev
bind index \Ci sidebar-open
bind index dr recall-message

### PAGER ###
bind pager / search
bind pager n search-next
bind pager N search-opposite
bind pager \Cu half-up
bind pager \Cd half-down
bind pager \Cp sidebar-toggle-visible
bind pager \Cj sidebar-next
bind pager \Ck sidebar-prev
bind pager \Ci sidebar-open
bind pager k previous-line
bind pager j next-line
bind pager gg top
bind pager G bottom
bind pager \Co exit
bind pager \Ca view-attachments
bind pager c mail
bind pager r reply
bind pager R group-reply
bind pager F forward-message

### COMPOSE ###
bind compose a attach-file
bind compose e edit-message
bind compose f edit-from
bind compose t edit-to
bind compose c edit-cc
bind compose b edit-bcc
bind compose s edit-subject
bind compose y send-message
bind compose k previous-entry
bind compose j next-entry
bind compose gg first-entry
bind compose G last-entry
bind compose dd detach-file
bind compose S edit-file

### ATTACHMENTS ###
bind attach / search
bind attach n search-next
bind attach N search-opposite
bind attach \Cu half-up
bind attach \Cd half-down
bind attach k previous-entry
bind attach j next-entry
bind attach gg first-entry
bind attach G last-entry
bind attach s save-entry

### BROWSER ###
bind browser l descend-directory
bind browser <return> select-entry
