# vim: ft=neomuttrc

# Ununbind everything.. the defaults suck balls and do crazy things

unbind generic,pager,editor,index,compose,browser,attach |
unbind generic,pager,editor,index,compose,browser,attach a
unbind generic,pager,editor,index,compose,browser,attach b
unbind generic,pager,editor,index,compose,browser,attach c
unbind generic,pager,editor,index,compose,browser,attach d
unbind generic,pager,editor,index,compose,browser,attach e
unbind generic,pager,editor,index,compose,browser,attach f
unbind generic,pager,editor,index,compose,browser,attach g
unbind generic,pager,editor,index,compose,browser,attach h
unbind generic,pager,editor,index,compose,browser,attach i
unbind generic,pager,editor,index,compose,browser,attach j
unbind generic,pager,editor,index,compose,browser,attach k
unbind generic,pager,editor,index,compose,browser,attach l
unbind generic,pager,editor,index,compose,browser,attach m
unbind generic,pager,editor,index,compose,browser,attach n
unbind generic,pager,editor,index,compose,browser,attach o
unbind generic,pager,editor,index,compose,browser,attach p
unbind generic,pager,editor,index,compose,browser,attach r
unbind generic,pager,editor,index,compose,browser,attach s
unbind generic,pager,editor,index,compose,browser,attach t
unbind generic,pager,editor,index,compose,browser,attach u
unbind generic,pager,editor,index,compose,browser,attach v
unbind generic,pager,editor,index,compose,browser,attach w
unbind generic,pager,editor,index,compose,browser,attach x
unbind generic,pager,editor,index,compose,browser,attach y
unbind generic,pager,editor,index,compose,browser,attach z
unbind generic,pager,editor,index,compose,browser,attach A
unbind generic,pager,editor,index,compose,browser,attach B
unbind generic,pager,editor,index,compose,browser,attach C
unbind generic,pager,editor,index,compose,browser,attach D
unbind generic,pager,editor,index,compose,browser,attach E
unbind generic,pager,editor,index,compose,browser,attach F
unbind generic,pager,editor,index,compose,browser,attach G
unbind generic,pager,editor,index,compose,browser,attach H
unbind generic,pager,editor,index,compose,browser,attach I
unbind generic,pager,editor,index,compose,browser,attach J
unbind generic,pager,editor,index,compose,browser,attach K
unbind generic,pager,editor,index,compose,browser,attach L
unbind generic,pager,editor,index,compose,browser,attach M
unbind generic,pager,editor,index,compose,browser,attach N
unbind generic,pager,editor,index,compose,browser,attach O
unbind generic,pager,editor,index,compose,browser,attach P
unbind generic,pager,editor,index,compose,browser,attach Q
unbind generic,pager,editor,index,compose,browser,attach R
unbind generic,pager,editor,index,compose,browser,attach S
unbind generic,pager,editor,index,compose,browser,attach T
unbind generic,pager,editor,index,compose,browser,attach U
unbind generic,pager,editor,index,compose,browser,attach V
unbind generic,pager,editor,index,compose,browser,attach W
unbind generic,pager,editor,index,compose,browser,attach X
unbind generic,pager,editor,index,compose,browser,attach Y
unbind generic,pager,editor,index,compose,browser,attach Z

unbind generic,pager,editor,index,compose,browser,attach <Tab>
unbind generic,pager,editor,index,compose,browser,attach <Space>
unbind generic,pager,editor,index,compose,browser,attach <PageUp>
unbind generic,pager,editor,index,compose,browser,attach <PageDown>
unbind generic,pager,editor,index,compose,browser,attach <Home>
unbind generic,pager,editor,index,compose,browser,attach <End>
unbind generic,pager,editor,index,compose,browser,attach <Insert>
unbind generic,pager,editor,index,compose,browser,attach <Delete>
unbind generic,pager,index,compose,browser,attach <Up>
unbind generic,pager,index,compose,browser,attach <Down>
unbind generic,pager,editor,index,compose,browser,attach <Left>
unbind generic,pager,editor,index,compose,browser,attach <Right>
unbind generic,pager,editor,index,compose,browser,attach <Enter>
unbind generic,pager,editor,index,compose,browser,attach <Return>

unbind generic,pager,editor,index,compose,browser,attach 1
unbind generic,pager,editor,index,compose,browser,attach 2
unbind generic,pager,editor,index,compose,browser,attach 3
unbind generic,pager,editor,index,compose,browser,attach 4
unbind generic,pager,editor,index,compose,browser,attach 5
unbind generic,pager,editor,index,compose,browser,attach 6
unbind generic,pager,editor,index,compose,browser,attach 7
unbind generic,pager,editor,index,compose,browser,attach 8
unbind generic,pager,editor,index,compose,browser,attach 9
unbind generic,pager,editor,index,compose,browser,attach 0
unbind generic,pager,editor,index,compose,browser,attach !
unbind generic,pager,editor,index,compose,browser,attach @
unbind generic,pager,editor,index,compose,browser,attach #
unbind generic,pager,editor,index,compose,browser,attach $
unbind generic,pager,editor,index,compose,browser,attach %
unbind generic,pager,editor,index,compose,browser,attach ^
unbind generic,pager,editor,index,compose,browser,attach &
unbind generic,pager,editor,index,compose,browser,attach *
unbind generic,pager,editor,index,compose,browser,attach (
unbind generic,pager,editor,index,compose,browser,attach )
unbind generic,pager,editor,index,compose,browser,attach ,
unbind generic,pager,editor,index,compose,browser,attach .

unbind generic,pager,editor,index,compose,browser,attach \Ca
unbind generic,pager,editor,index,compose,browser,attach \Cb
unbind generic,pager,editor,index,compose,browser,attach \Cc
unbind generic,pager,editor,index,compose,browser,attach \Cd
unbind generic,pager,editor,index,compose,browser,attach \Ce
unbind generic,pager,editor,index,compose,browser,attach \Cf
unbind generic,pager,editor,index,compose,browser,attach \Cg
unbind generic,pager,editor,index,compose,browser,attach \Ch
unbind generic,pager,editor,index,compose,browser,attach \Ci
unbind generic,pager,editor,index,compose,browser,attach \Cj
unbind generic,pager,editor,index,compose,browser,attach \Ck
unbind generic,pager,editor,index,compose,browser,attach \Cl
unbind generic,pager,editor,index,compose,browser,attach \Cm
unbind generic,pager,editor,index,compose,browser,attach \Cn
unbind generic,pager,editor,index,compose,browser,attach \Co
unbind generic,pager,editor,index,compose,browser,attach \Cp
unbind generic,pager,editor,index,compose,browser,attach \Cq
unbind generic,pager,editor,index,compose,browser,attach \Cr
unbind generic,pager,editor,index,compose,browser,attach \Cs
unbind generic,pager,editor,index,compose,browser,attach \Ct
unbind generic,pager,editor,index,compose,browser,attach \Cv
unbind generic,pager,editor,index,compose,browser,attach \Cw
unbind generic,pager,editor,index,compose,browser,attach \Cxe
unbind generic,pager,editor,index,compose,browser,attach \Cx
unbind generic,pager,editor,index,compose,browser,attach \Cy
unbind generic,pager,editor,index,compose,browser,attach \Cz
unbind generic,pager,editor,index,compose,browser,attach \CA
unbind generic,pager,editor,index,compose,browser,attach \CB
unbind generic,pager,editor,index,compose,browser,attach \CC
unbind generic,pager,editor,index,compose,browser,attach \CD
unbind generic,pager,editor,index,compose,browser,attach \CE
unbind generic,pager,editor,index,compose,browser,attach \CF
unbind generic,pager,editor,index,compose,browser,attach \CG
unbind generic,pager,editor,index,compose,browser,attach \CH
unbind generic,pager,editor,index,compose,browser,attach \CI
unbind generic,pager,editor,index,compose,browser,attach \CJ
unbind generic,pager,editor,index,compose,browser,attach \CK
unbind generic,pager,editor,index,compose,browser,attach \CL
unbind generic,pager,editor,index,compose,browser,attach \CM
unbind generic,pager,editor,index,compose,browser,attach \CN
unbind generic,pager,editor,index,compose,browser,attach \CO
unbind generic,pager,editor,index,compose,browser,attach \CP
unbind generic,pager,editor,index,compose,browser,attach \CQ
unbind generic,pager,editor,index,compose,browser,attach \CR
unbind generic,pager,editor,index,compose,browser,attach \CS
unbind generic,pager,editor,index,compose,browser,attach \CT
unbind generic,pager,editor,index,compose,browser,attach \CV
unbind generic,pager,editor,index,compose,browser,attach \CW
unbind generic,pager,editor,index,compose,browser,attach \CX
unbind generic,pager,editor,index,compose,browser,attach \CY
unbind generic,pager,editor,index,compose,browser,attach \CZ

unbind generic,pager,editor,index,compose,browser,attach \C<Tab>
unbind generic,pager,editor,index,compose,browser,attach \C<Space>
unbind generic,pager,editor,index,compose,browser,attach \C<PageUp>
unbind generic,pager,editor,index,compose,browser,attach \C<PageDown>
unbind generic,pager,editor,index,compose,browser,attach \C<Home>
unbind generic,pager,editor,index,compose,browser,attach \C<End>
unbind generic,pager,editor,index,compose,browser,attach \C<Insert>
unbind generic,pager,editor,index,compose,browser,attach \C<Delete>
unbind generic,pager,editor,index,compose,browser,attach \C<Up>
unbind generic,pager,editor,index,compose,browser,attach \C<Down>
unbind generic,pager,editor,index,compose,browser,attach \C<Left>
unbind generic,pager,editor,index,compose,browser,attach \C<Right>
unbind generic,pager,editor,index,compose,browser,attach \C<Enter>
unbind generic,pager,editor,index,compose,browser,attach \C<Return>

unbind generic,pager,editor,index,compose,browser,attach \C1
unbind generic,pager,editor,index,compose,browser,attach \C2
unbind generic,pager,editor,index,compose,browser,attach \C3
unbind generic,pager,editor,index,compose,browser,attach \C4
unbind generic,pager,editor,index,compose,browser,attach \C5
unbind generic,pager,editor,index,compose,browser,attach \C6
unbind generic,pager,editor,index,compose,browser,attach \C7
unbind generic,pager,editor,index,compose,browser,attach \C8
unbind generic,pager,editor,index,compose,browser,attach \C9
unbind generic,pager,editor,index,compose,browser,attach \C0
unbind generic,pager,editor,index,compose,browser,attach \C!
unbind generic,pager,editor,index,compose,browser,attach \C$
unbind generic,pager,editor,index,compose,browser,attach \C%
unbind generic,pager,editor,index,compose,browser,attach \C^
unbind generic,pager,editor,index,compose,browser,attach \C&
unbind generic,pager,editor,index,compose,browser,attach \C*
unbind generic,pager,editor,index,compose,browser,attach \C(
unbind generic,pager,editor,index,compose,browser,attach \C)

unbind generic,pager,editor,index,compose,browser,attach <Esc>a
unbind generic,pager,editor,index,compose,browser,attach <Esc>b
unbind generic,pager,editor,index,compose,browser,attach <Esc>c
unbind generic,pager,editor,index,compose,browser,attach <Esc>d
unbind generic,pager,editor,index,compose,browser,attach <Esc>e
unbind generic,pager,editor,index,compose,browser,attach <Esc>f
unbind generic,pager,editor,index,compose,browser,attach <Esc>g
unbind generic,pager,editor,index,compose,browser,attach <Esc>h
unbind generic,pager,editor,index,compose,browser,attach <Esc>i
unbind generic,pager,editor,index,compose,browser,attach <Esc>j
unbind generic,pager,editor,index,compose,browser,attach <Esc>k
unbind generic,pager,editor,index,compose,browser,attach <Esc>l
unbind generic,pager,editor,index,compose,browser,attach <Esc>m
unbind generic,pager,editor,index,compose,browser,attach <Esc>n
unbind generic,pager,editor,index,compose,browser,attach <Esc>o
unbind generic,pager,editor,index,compose,browser,attach <Esc>p
unbind generic,pager,editor,index,compose,browser,attach <Esc>q
unbind generic,pager,editor,index,compose,browser,attach <Esc>r
unbind generic,pager,editor,index,compose,browser,attach <Esc>s
unbind generic,pager,editor,index,compose,browser,attach <Esc>t
unbind generic,pager,editor,index,compose,browser,attach <Esc>u
unbind generic,pager,editor,index,compose,browser,attach <Esc>v
unbind generic,pager,editor,index,compose,browser,attach <Esc>w
unbind generic,pager,editor,index,compose,browser,attach <Esc>x
unbind generic,pager,editor,index,compose,browser,attach <Esc>y
unbind generic,pager,editor,index,compose,browser,attach <Esc>z
unbind generic,pager,editor,index,compose,browser,attach <Esc>A
unbind generic,pager,editor,index,compose,browser,attach <Esc>B
unbind generic,pager,editor,index,compose,browser,attach <Esc>C
unbind generic,pager,editor,index,compose,browser,attach <Esc>D
unbind generic,pager,editor,index,compose,browser,attach <Esc>E
unbind generic,pager,editor,index,compose,browser,attach <Esc>F
unbind generic,pager,editor,index,compose,browser,attach <Esc>G
unbind generic,pager,editor,index,compose,browser,attach <Esc>H
unbind generic,pager,editor,index,compose,browser,attach <Esc>I
unbind generic,pager,editor,index,compose,browser,attach <Esc>J
unbind generic,pager,editor,index,compose,browser,attach <Esc>K
unbind generic,pager,editor,index,compose,browser,attach <Esc>L
unbind generic,pager,editor,index,compose,browser,attach <Esc>M
unbind generic,pager,editor,index,compose,browser,attach <Esc>N
unbind generic,pager,editor,index,compose,browser,attach <Esc>O
unbind generic,pager,editor,index,compose,browser,attach <Esc>P
unbind generic,pager,editor,index,compose,browser,attach <Esc>Q
unbind generic,pager,editor,index,compose,browser,attach <Esc>R
unbind generic,pager,editor,index,compose,browser,attach <Esc>S
unbind generic,pager,editor,index,compose,browser,attach <Esc>T
unbind generic,pager,editor,index,compose,browser,attach <Esc>U
unbind generic,pager,editor,index,compose,browser,attach <Esc>V
unbind generic,pager,editor,index,compose,browser,attach <Esc>W
unbind generic,pager,editor,index,compose,browser,attach <Esc>X
unbind generic,pager,editor,index,compose,browser,attach <Esc>Y
unbind generic,pager,editor,index,compose,browser,attach <Esc>Z

unbind generic,pager,editor,index,compose,browser,attach <Esc><Tab>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Space>
unbind generic,pager,editor,index,compose,browser,attach <Esc><PageUp>
unbind generic,pager,editor,index,compose,browser,attach <Esc><PageDown>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Home>
unbind generic,pager,editor,index,compose,browser,attach <Esc><End>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Insert>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Delete>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Up>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Down>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Left>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Right>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Enter>
unbind generic,pager,editor,index,compose,browser,attach <Esc><Return>

unbind generic,pager,editor,index,compose,browser,attach <Esc>1
unbind generic,pager,editor,index,compose,browser,attach <Esc>2
unbind generic,pager,editor,index,compose,browser,attach <Esc>3
unbind generic,pager,editor,index,compose,browser,attach <Esc>4
unbind generic,pager,editor,index,compose,browser,attach <Esc>5
unbind generic,pager,editor,index,compose,browser,attach <Esc>6
unbind generic,pager,editor,index,compose,browser,attach <Esc>7
unbind generic,pager,editor,index,compose,browser,attach <Esc>8
unbind generic,pager,editor,index,compose,browser,attach <Esc>9
unbind generic,pager,editor,index,compose,browser,attach <Esc>0
unbind generic,pager,editor,index,compose,browser,attach <Esc>!
unbind generic,pager,editor,index,compose,browser,attach <Esc>@
unbind generic,pager,editor,index,compose,browser,attach <Esc>$
unbind generic,pager,editor,index,compose,browser,attach <Esc>%
unbind generic,pager,editor,index,compose,browser,attach <Esc>^
unbind generic,pager,editor,index,compose,browser,attach <Esc>&
unbind generic,pager,editor,index,compose,browser,attach <Esc>*
unbind generic,pager,editor,index,compose,browser,attach <Esc>(
unbind generic,pager,editor,index,compose,browser,attach <Esc>)
